# Postgres (consumido pelo serviço `postgres`)
POSTGRES_DB=workshop
POSTGRES_USER=workshop
POSTGRES_PASSWORD=workshop

# API Flask -> Postgres
DB_HOST=postgres
DB_PORT=5432
DB_NAME=workshop
DB_USER=workshop
DB_PASSWORD=workshop

# API Flask -> Redis
REDIS_HOST=redis
REDIS_PORT=6379
CACHE_TTL=60
